{
  "openapi": "3.0.3",
  "info": {
    "title": "Rerank API",
    "version": "v1",
    "description": "API for reranking documents based on a query using a specified model."
  },
  "servers": [
    {
      "url": "https://api.aisa.one/v1",
      "description": "Base URL for Rerank API"
    }
  ],
  "paths": {
    "/rerank": {
      "post": {
        "summary": "Rerank documents by relevance to a query",
        "operationId": "jinarerankDocuments",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RerankRequest"
              },
              "example": {
                "model": "jina-reranker-v2-base-multilingual",
                "query": "Organic skincare products for sensitive skin",
                "top_n": 3,
                "documents": [
                  "Organic skincare for sensitive skin with aloe vera and chamomile...",
                  "New makeup trends focus on bold colors and innovative techniques...",
                  "Bio-Hautpflege für empfindliche Haut mit Aloe Vera und Kamille..."
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful rerank",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RerankResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Use your AISA_API_KEY as Bearer token"
      }
    },
    "schemas": {
      "RerankRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "description": "The reranker model to use"
          },
          "query": {
            "type": "string",
            "description": "Query string to rank documents against"
          },
          "top_n": {
            "type": "integer",
            "description": "Number of top documents to return"
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of documents to rerank"
          }
        },
        "required": [
          "model",
          "query",
          "top_n",
          "documents"
        ]
      },
      "RerankResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "document": {
                  "type": "string"
                },
                "score": {
                  "type": "number",
                  "description": "Relevance score"
                },
                "rank": {
                  "type": "integer",
                  "description": "Rank position"
                }
              },
              "required": [
                "document",
                "score",
                "rank"
              ]
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            },
            "required": [
              "code",
              "message",
              "status"
            ]
          }
        }
      }
    }
  }
}