{
  "openapi": "3.0.0",
  "info": {
    "title": "Twitter API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "LoginResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status of the request."
          },
          "msg": {
            "type": "string",
            "description": "Message of the request."
          },
          "login_cookie": {
            "type": "string",
            "description": "The login cookie of the user.Use this cookie to post tweets, etc.You can only call v2 APIs with this cookie.If your account is in good standing and you're using residential proxies, the cookies will generally remain valid indefinitely."
          }
        }
      },
      "UploadMediaResponse": {
        "type": "object",
        "properties": {
          "media_id": {
            "type": "string",
            "description": "The id of the uploaded media."
          },
          "status": {
            "type": "string",
            "description": "Status of the request."
          },
          "msg": {
            "type": "string",
            "description": "Message of the request."
          }
        }
      },
      "CreateTweetResponse": {
        "type": "object",
        "properties": {
          "tweet_id": {
            "type": "string",
            "description": "The id of the created tweet."
          },
          "status": {
            "type": "string",
            "description": "Status of the request."
          },
          "msg": {
            "type": "string",
            "description": "Message of the request."
          }
        }
      },
      "GetDMHistoryResponse": {
        "type": "object",
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The id of the message."
                },
                "recipient_id": {
                  "type": "string",
                  "description": "The id of the recipient."
                },
                "sender_id": {
                  "type": "string",
                  "description": "The id of the sender."
                },
                "text": {
                  "type": "string",
                  "description": "The text of the message."
                },
                "time": {
                  "type": "string",
                  "description": "The time the message was sent."
                }
              }
            }
          },
          "status": {
            "type": "string",
            "description": "Status of the request."
          },
          "message": {
            "type": "string",
            "description": "Message of the request."
          }
        }
      },
      "SendDMResponse": {
        "type": "object",
        "properties": {
          "message_id": {
            "type": "string",
            "description": "The id of the sent direct message."
          },
          "status": {
            "type": "string",
            "description": "Status of the request."
          },
          "msg": {
            "type": "string",
            "description": "Message of the request."
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/twitter/user_login_v2": {},
    "/twitter/upload_media_v2": {},
    "/twitter/create_tweet_v2": {},
    "/twitter/get_dm_history_by_user_id": {},
    "/twitter/send_dm_to_user": {
      "post": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/send_dm_v2"
        ],
        "summary": "Send DM",
        "description": "Send a direct message to a user.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "login_cookies",
                  "user_id",
                  "text",
                  "proxy"
                ],
                "type": "object",
                "properties": {
                  "login_cookies": {
                    "type": "string",
                    "description": "The login cookie of the user."
                  },
                  "user_id": {
                    "type": "string",
                    "description": "The id of the user to send the direct message to."
                  },
                  "text": {
                    "type": "string",
                    "description": "The text of the direct message."
                  },
                  "proxy": {
                    "type": "string",
                    "description": "The proxy to use."
                  },
                  "media_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The ids of the media to post."
                  },
                  "reply_to_message_id": {
                    "type": "string",
                    "description": "The id of the message to reply to."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful DM sending",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendDMResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}