{
  "openapi": "3.0.3",
  "info": {
    "title": "Twitter API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "paths": {
    "/twitter/retweet_v2": {},
    "/twitter/delete_tweet_v2": {},
    "/twitter/follow_user_v2": {},
    "/twitter/unfollow_user_v2": {},
    "/twitter/like_tweet_v2": {
      "post": {
        "tags": [
          "twitterapi-like"
        ],
        "summary": "Like a Tweet",
        "operationId": "likeTweet",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tweet_id",
                  "login_cookies",
                  "proxy"
                ],
                "properties": {
                  "login_cookies": {
                    "type": "string",
                    "description": "The login cookies of the user.You can get the login_cookie from /twitter/user_login_v2.Must be set"
                  },
                  "tweet_id": {
                    "type": "string",
                    "description": "The id of the tweet to retweet. Must be set."
                  },
                  "proxy": {
                    "type": "string",
                    "description": "The proxy to use.Please use high-quality residential proxies and avoid free proxies.Required.Example: http://username:password@ip:port . You can get proxy from: https://www.webshare.io/?referral_code=4e0q1n00a504"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the request. success or error"
                    },
                    "msg": {
                      "type": "string",
                      "description": "Message of the request. error message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/twitter/unlike_tweet_v2": {
      "post": {
        "tags": [
          "twitterapi-like"
        ],
        "summary": "Like a Tweet",
        "operationId": "unlikeTweet",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tweet_id",
                  "login_cookies",
                  "proxy"
                ],
                "properties": {
                  "login_cookies": {
                    "type": "string",
                    "description": "The login cookies of the user.You can get the login_cookie from /twitter/user_login_v2.Must be set"
                  },
                  "tweet_id": {
                    "type": "string",
                    "description": "The id of the tweet to retweet. Must be set."
                  },
                  "proxy": {
                    "type": "string",
                    "description": "The proxy to use.Please use high-quality residential proxies and avoid free proxies.Required.Example: http://username:password@ip:port . You can get proxy from: https://www.webshare.io/?referral_code=4e0q1n00a504"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the request. success or error"
                    },
                    "msg": {
                      "type": "string",
                      "description": "Message of the request. error message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}