{
  "openapi": "3.0.0",
  "info": {
    "title": "Twitter API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "LoginResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status of the request."
          },
          "msg": {
            "type": "string",
            "description": "Message of the request."
          },
          "login_cookie": {
            "type": "string",
            "description": "The login cookie of the user.Use this cookie to post tweets, etc.You can only call v2 APIs with this cookie.If your account is in good standing and you're using residential proxies, the cookies will generally remain valid indefinitely."
          }
        }
      },
      "UploadMediaResponse": {
        "type": "object",
        "properties": {
          "media_id": {
            "type": "string",
            "description": "The id of the uploaded media."
          },
          "status": {
            "type": "string",
            "description": "Status of the request."
          },
          "msg": {
            "type": "string",
            "description": "Message of the request."
          }
        }
      },
      "CreateTweetResponse": {
        "type": "object",
        "properties": {
          "tweet_id": {
            "type": "string",
            "description": "The id of the created tweet."
          },
          "status": {
            "type": "string",
            "description": "Status of the request."
          },
          "msg": {
            "type": "string",
            "description": "Message of the request."
          }
        }
      },
      "GetDMHistoryResponse": {
        "type": "object",
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The id of the message."
                },
                "recipient_id": {
                  "type": "string",
                  "description": "The id of the recipient."
                },
                "sender_id": {
                  "type": "string",
                  "description": "The id of the sender."
                },
                "text": {
                  "type": "string",
                  "description": "The text of the message."
                },
                "time": {
                  "type": "string",
                  "description": "The time the message was sent."
                }
              }
            }
          },
          "status": {
            "type": "string",
            "description": "Status of the request."
          },
          "message": {
            "type": "string",
            "description": "Message of the request."
          }
        }
      },
      "SendDMResponse": {
        "type": "object",
        "properties": {
          "message_id": {
            "type": "string",
            "description": "The id of the sent direct message."
          },
          "status": {
            "type": "string",
            "description": "Status of the request."
          },
          "msg": {
            "type": "string",
            "description": "Message of the request."
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/twitter/user_login_v2": {},
    "/twitter/upload_media_v2": {
      "post": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/upload_media_v2"
        ],
        "summary": "Upload media",
        "description": "Upload media to Twitter.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file",
                  "proxy",
                  "login_cookies"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The media file to upload."
                  },
                  "proxy": {
                    "type": "string",
                    "description": "The proxy to use."
                  },
                  "login_cookies": {
                    "type": "string",
                    "description": "The login cookies of the user."
                  },
                  "is_long_video": {
                    "type": "boolean",
                    "description": "If this is True, videos longer than 2:20 can be uploaded."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful media upload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadMediaResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/create_tweet_v2": {
      "post": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/create_tweet_v2"
        ],
        "summary": "Create tweet",
        "description": "Create a tweet.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "login_cookies",
                  "tweet_text",
                  "proxy"
                ],
                "type": "object",
                "properties": {
                  "login_cookies": {
                    "type": "string",
                    "description": "The login cookies of the user."
                  },
                  "tweet_text": {
                    "type": "string",
                    "description": "The text of the tweet."
                  },
                  "proxy": {
                    "type": "string",
                    "description": "The proxy to use."
                  },
                  "reply_to_tweet_id": {
                    "type": "string",
                    "description": "The id of the tweet to reply to."
                  },
                  "attachment_url": {
                    "type": "string",
                    "description": "The url of quote tweet."
                  },
                  "community_id": {
                    "type": "string",
                    "description": "The id of the community to post to."
                  },
                  "is_note_tweet": {
                    "type": "boolean",
                    "description": "If this option is set to True, tweets longer than 280 characters can be posted."
                  },
                  "media_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The ids of the media to post."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tweet creation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTweetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/get_dm_history_by_user_id": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_dm_history_by_user_id"
        ],
        "summary": "Get DM history",
        "description": "Get the direct message history with a user.",
        "parameters": [
          {
            "name": "login_cookies",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The login cookies of the user."
          },
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id of the user to get the direct message history with."
          },
          {
            "name": "proxy",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The proxy to use."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of DM history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDMHistoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/send_dm_to_user": {
      "post": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/send_dm_v2"
        ],
        "summary": "Send DM",
        "description": "Send a direct message to a user.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "login_cookies",
                  "user_id",
                  "text",
                  "proxy"
                ],
                "type": "object",
                "properties": {
                  "login_cookies": {
                    "type": "string",
                    "description": "The login cookie of the user."
                  },
                  "user_id": {
                    "type": "string",
                    "description": "The id of the user to send the direct message to."
                  },
                  "text": {
                    "type": "string",
                    "description": "The text of the direct message."
                  },
                  "proxy": {
                    "type": "string",
                    "description": "The proxy to use."
                  },
                  "media_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The ids of the media to post."
                  },
                  "reply_to_message_id": {
                    "type": "string",
                    "description": "The id of the message to reply to."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful DM sending",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendDMResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}