{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudsway Search API",
    "description": "Smart Search and Full Text Search API",
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/search/smart": {
      "get": {
        "summary": "Smart Search",
        "description": "Perform intelligent web search and return structured search results.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "freshness",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mkt",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cc",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 2
            }
          },
          {
            "name": "safeSearch",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Off",
                "Moderate",
                "Strict"
              ]
            }
          },
          {
            "name": "setLang",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Smart search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/full": {
      "get": {
        "summary": "Full Text Search",
        "description": "Perform full text search and return web page content.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "User search query, cannot be empty",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "freshness",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mkt",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cc",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 2
            }
          },
          {
            "name": "safeSearch",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Off",
                "Moderate",
                "Strict"
              ]
            }
          },
          {
            "name": "setLang",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "textDecorations",
            "in": "query",
            "description": "Whether to include hit highlighting markers",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Format of returned full text content",
            "schema": {
              "type": "string",
              "enum": [
                "HTML",
                "MARKDOWN"
              ]
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Full text search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullTextSearchResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "AccessKey"
      }
    },
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "queryContext": {
            "$ref": "#/components/schemas/QueryContext"
          },
          "webPages": {
            "$ref": "#/components/schemas/WebPages"
          }
        }
      },
      "FullTextSearchResponse": {
        "type": "object",
        "properties": {
          "queryContext": {
            "$ref": "#/components/schemas/QueryContext"
          },
          "webPages": {
            "type": "object",
            "properties": {
              "value": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FullTextWebPage"
                }
              }
            }
          }
        }
      },
      "QueryContext": {
        "type": "object",
        "properties": {
          "originalQuery": {
            "type": "string"
          }
        }
      },
      "WebPages": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebPage"
            }
          }
        }
      },
      "WebPage": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "displayUrl": {
            "type": "string"
          },
          "snippet": {
            "type": "string"
          },
          "thumbnailUrl": {
            "type": "string"
          },
          "datePublished": {
            "type": "string",
            "format": "date-time"
          },
          "dateLastCrawled": {
            "type": "string",
            "format": "date-time"
          },
          "siteName": {
            "type": "string"
          }
        }
      },
      "FullTextWebPage": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "displayUrl": {
            "type": "string"
          },
          "snippet": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "siteName": {
            "type": "string"
          },
          "logo": {
            "type": "string"
          },
          "datePublished": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}