{
  "openapi": "3.0.0",
  "info": {
    "title": "Twitter API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "LoginResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status of the request."
          },
          "msg": {
            "type": "string",
            "description": "Message of the request."
          }
        }
      },
      "UploadMediaResponse": {
        "type": "object",
        "properties": {
          "media_id": {
            "type": "string",
            "description": "The id of the uploaded media."
          },
          "status": {
            "type": "string",
            "description": "Status of the request."
          },
          "msg": {
            "type": "string",
            "description": "Message of the request."
          }
        }
      },
      "CreateTweetResponse": {
        "type": "object",
        "properties": {
          "tweet_id": {
            "type": "string",
            "description": "The id of the created tweet."
          },
          "status": {
            "type": "string",
            "description": "Status of the request."
          },
          "msg": {
            "type": "string",
            "description": "Message of the request."
          }
        }
      },
      "GetDMHistoryResponse": {
        "type": "object",
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The id of the message."
                },
                "recipient_id": {
                  "type": "string",
                  "description": "The id of the recipient."
                },
                "sender_id": {
                  "type": "string",
                  "description": "The id of the sender."
                },
                "text": {
                  "type": "string",
                  "description": "The text of the message."
                },
                "time": {
                  "type": "string",
                  "description": "The time the message was sent."
                }
              }
            }
          },
          "status": {
            "type": "string",
            "description": "Status of the request."
          },
          "message": {
            "type": "string",
            "description": "Message of the request."
          }
        }
      },
      "SendDMResponse": {
        "type": "object",
        "properties": {
          "message_id": {
            "type": "string",
            "description": "The id of the sent direct message."
          },
          "status": {
            "type": "string",
            "description": "Status of the request."
          },
          "msg": {
            "type": "string",
            "description": "Message of the request."
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/twitter/user_login_v3": {
      "post": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/user_login_v3"
        ],
        "summary": "Log in",
        "description": "V3 Login API - Log in using your email, username, password, and 2FA code. This is an asynchronous login method. After calling this API, the system will process your login request in the background. You can call get_my_x_account_detail_v3 to check the login status.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_name",
                  "email",
                  "password",
                  "proxy"
                ],
                "properties": {
                  "user_name": {
                    "type": "string",
                    "description": "User name.Must be set"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email.Must be set"
                  },
                  "password": {
                    "type": "string",
                    "description": "The password of the user"
                  },
                  "proxy": {
                    "type": "string",
                    "description": "The proxy to use.Please use high-quality residential proxies and avoid free proxies.Required.Example: http://username:password@ip:port . You can get proxy from: https://www.webshare.io/"
                  },
                  "totp_code": {
                    "type": "string",
                    "description": "The totp secret of the user.If you don't have it, you can get it from the user's profile page.This field is required because it will make your login more reliable and less likely to be banned."
                  },
                  "cookie": {
                    "type": "string",
                    "description": "Optional. Pre-existing cookie string in format 'cto=xx&auth_token='. Can be used to resume a previous session."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful login",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/upload_media_v2": {},
    "/twitter/create_tweet_v2": {
      "post": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/create_tweet_v2"
        ],
        "summary": "Create tweet",
        "description": "Create a tweet.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "login_cookies",
                  "tweet_text",
                  "proxy"
                ],
                "type": "object",
                "properties": {
                  "login_cookies": {
                    "type": "string",
                    "description": "The login cookies of the user."
                  },
                  "tweet_text": {
                    "type": "string",
                    "description": "The text of the tweet."
                  },
                  "proxy": {
                    "type": "string",
                    "description": "The proxy to use."
                  },
                  "reply_to_tweet_id": {
                    "type": "string",
                    "description": "The id of the tweet to reply to."
                  },
                  "attachment_url": {
                    "type": "string",
                    "description": "The url of quote tweet."
                  },
                  "community_id": {
                    "type": "string",
                    "description": "The id of the community to post to."
                  },
                  "is_note_tweet": {
                    "type": "boolean",
                    "description": "If this option is set to True, tweets longer than 280 characters can be posted."
                  },
                  "media_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The ids of the media to post."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tweet creation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTweetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/get_dm_history_by_user_id": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_dm_history_by_user_id"
        ],
        "summary": "Get DM history",
        "description": "Get the direct message history with a user.",
        "parameters": [
          {
            "name": "login_cookies",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The login cookies of the user."
          },
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id of the user to get the direct message history with."
          },
          {
            "name": "proxy",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The proxy to use."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of DM history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDMHistoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/send_dm_to_user": {
      "post": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/send_dm_v2"
        ],
        "summary": "Send DM",
        "description": "Send a direct message to a user.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "login_cookies",
                  "user_id",
                  "text",
                  "proxy"
                ],
                "type": "object",
                "properties": {
                  "login_cookies": {
                    "type": "string",
                    "description": "The login cookie of the user."
                  },
                  "user_id": {
                    "type": "string",
                    "description": "The id of the user to send the direct message to."
                  },
                  "text": {
                    "type": "string",
                    "description": "The text of the direct message."
                  },
                  "proxy": {
                    "type": "string",
                    "description": "The proxy to use."
                  },
                  "media_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The ids of the media to post."
                  },
                  "reply_to_message_id": {
                    "type": "string",
                    "description": "The id of the message to reply to."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful DM sending",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendDMResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}