{
  "openapi": "3.0.3",
  "info": {
    "title": "AISA Video Generation API (Kling & Jimeng)",
    "version": "v1",
    "description": "Video generation API via AISA using Kling AI and Jimeng models."
  },
  "servers": [
    {
      "url": "https://api.aisa.one/v1",
      "description": "AISA base URL"
    }
  ],
  "paths": {
    "/video/generations": {},
    "/video/generations/{task_id}": {
      "get": {
        "operationId": "getVideoGenerationStatus",
        "summary": "Get a video generation task status",
        "description": "Query the status and result of a video generation task by its task_id.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The task ID returned from POST /v1/video/generations"
          }
        ],
        "responses": {
          "200": {
            "description": "Status and result of the video generation task",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "task_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "format": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "nullable": true,
                      "description": "URL of generated video when succeeded"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "duration": {
                          "type": "number"
                        },
                        "fps": {
                          "type": "number"
                        },
                        "height": {
                          "type": "integer"
                        },
                        "width": {
                          "type": "integer"
                        },
                        "seed": {
                          "type": "integer"
                        }
                      },
                      "additionalProperties": false
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "task_id": "abcd1234efgh",
                  "status": "succeeded",
                  "format": "mp4",
                  "url": "https://api.AISA.ai/videos/abcd1234efgh.mp4",
                  "metadata": {
                    "duration": 5,
                    "fps": 30,
                    "height": 512,
                    "width": 512,
                    "seed": 20231234
                  },
                  "error": null
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key, e.g. `Authorization: Bearer sk-xxxx`"
      }
    }
  }
}